USE [master]
GO
/****** Object:  Database [sales]    Script Date: 31/01/2026 05:45:59 ص ******/
CREATE DATABASE [sales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\sales.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\sales_log.ldf' , SIZE = 3840KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sales]
GO
/****** Object:  Table [dbo].[ChannelDim]    Script Date: 31/01/2026 05:45:59 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChannelDim](
	[ChannalID] [int] NOT NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChannelDim] PRIMARY KEY CLUSTERED 
(
	[ChannalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerDim]    Script Date: 31/01/2026 05:46:00 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDim](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerPhone] [numeric](15, 0) NULL,
	[CustomerAddress] [varchar](50) NULL,
 CONSTRAINT [PK_CustomerDim] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact Sales]    Script Date: 31/01/2026 05:46:00 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact Sales](
	[ProductID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[SalesmanID] [int] NOT NULL,
	[ChannelID] [int] NOT NULL,
	[TimeID] [int] NOT NULL,
	[Qty] [int] NULL,
	[Qty Total price] [bigint] NULL,
 CONSTRAINT [PK_Fact Sales] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[CustomerID] ASC,
	[SalesmanID] ASC,
	[ChannelID] ASC,
	[TimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDim]    Script Date: 31/01/2026 05:46:00 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDim](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](50) NULL,
	[ProductPrice] [money] NULL,
	[ProductCategory] [varchar](50) NULL,
 CONSTRAINT [PK_ProductDim] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesmanDim]    Script Date: 31/01/2026 05:46:00 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesmanDim](
	[SalesmanID] [int] NOT NULL,
	[SalesmanName] [nvarchar](50) NULL,
	[SalesmanPhone] [numeric](18, 0) NULL,
	[SalesmanAddress] [varchar](50) NULL,
 CONSTRAINT [PK_SalesmanDim] PRIMARY KEY CLUSTERED 
(
	[SalesmanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeDim]    Script Date: 31/01/2026 05:46:00 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeDim](
	[TimeID] [int] NOT NULL,
	[CalendarQuarter] [nvarchar](50) NULL,
	[CalendarYear] [int] NULL,
 CONSTRAINT [PK_TimeDim] PRIMARY KEY CLUSTERED 
(
	[TimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChannelDim] ([ChannalID], [Country], [City]) VALUES (1, N'Egypt', N'Cairo')
INSERT [dbo].[ChannelDim] ([ChannalID], [Country], [City]) VALUES (2, N'Algeria', NULL)
INSERT [dbo].[ChannelDim] ([ChannalID], [Country], [City]) VALUES (3, N'Moraco', NULL)
GO
INSERT [dbo].[CustomerDim] ([CustomerID], [CustomerName], [CustomerPhone], [CustomerAddress]) VALUES (1, N'Customer1', CAST(112233 AS Numeric(15, 0)), NULL)
INSERT [dbo].[CustomerDim] ([CustomerID], [CustomerName], [CustomerPhone], [CustomerAddress]) VALUES (2, N'Customer2', CAST(445566 AS Numeric(15, 0)), NULL)
INSERT [dbo].[CustomerDim] ([CustomerID], [CustomerName], [CustomerPhone], [CustomerAddress]) VALUES (3, N'Customer3', CAST(778899 AS Numeric(15, 0)), NULL)
GO
INSERT [dbo].[Fact Sales] ([ProductID], [CustomerID], [SalesmanID], [ChannelID], [TimeID], [Qty], [Qty Total price]) VALUES (1, 1, 1, 1, 1, 10, 120)
INSERT [dbo].[Fact Sales] ([ProductID], [CustomerID], [SalesmanID], [ChannelID], [TimeID], [Qty], [Qty Total price]) VALUES (1, 1, 1, 1, 5, 20, 200)
INSERT [dbo].[Fact Sales] ([ProductID], [CustomerID], [SalesmanID], [ChannelID], [TimeID], [Qty], [Qty Total price]) VALUES (1, 1, 1, 1, 7, 20, 300)
GO
INSERT [dbo].[ProductDim] ([ProductID], [ProductName], [ProductPrice], [ProductCategory]) VALUES (1, N'Accesories', 10.0000, N'Category1')
INSERT [dbo].[ProductDim] ([ProductID], [ProductName], [ProductPrice], [ProductCategory]) VALUES (2, N'Clothing', 20.0000, N'Category1')
INSERT [dbo].[ProductDim] ([ProductID], [ProductName], [ProductPrice], [ProductCategory]) VALUES (3, N'Books', 30.0000, N'Category2')
GO
INSERT [dbo].[SalesmanDim] ([SalesmanID], [SalesmanName], [SalesmanPhone], [SalesmanAddress]) VALUES (1, N'Omar', CAST(102333 AS Numeric(18, 0)), NULL)
INSERT [dbo].[SalesmanDim] ([SalesmanID], [SalesmanName], [SalesmanPhone], [SalesmanAddress]) VALUES (2, N'khalid', CAST(1234533 AS Numeric(18, 0)), NULL)
INSERT [dbo].[SalesmanDim] ([SalesmanID], [SalesmanName], [SalesmanPhone], [SalesmanAddress]) VALUES (3, N'Ahmed', CAST(124567 AS Numeric(18, 0)), NULL)
GO
INSERT [dbo].[TimeDim] ([TimeID], [CalendarQuarter], [CalendarYear]) VALUES (1, N'Quarter1', 2007)
INSERT [dbo].[TimeDim] ([TimeID], [CalendarQuarter], [CalendarYear]) VALUES (2, N'Quarter2', 2007)
INSERT [dbo].[TimeDim] ([TimeID], [CalendarQuarter], [CalendarYear]) VALUES (3, N'Quarter3', 2007)
GO
ALTER TABLE [dbo].[Fact Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact Sales_ChannelDim] FOREIGN KEY([ChannelID])
REFERENCES [dbo].[ChannelDim] ([ChannalID])
GO
ALTER TABLE [dbo].[Fact Sales] CHECK CONSTRAINT [FK_Fact Sales_ChannelDim]
GO
ALTER TABLE [dbo].[Fact Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact Sales_CustomerDim] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CustomerDim] ([CustomerID])
GO
ALTER TABLE [dbo].[Fact Sales] CHECK CONSTRAINT [FK_Fact Sales_CustomerDim]
GO
ALTER TABLE [dbo].[Fact Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact Sales_ProductDim] FOREIGN KEY([ProductID])
REFERENCES [dbo].[ProductDim] ([ProductID])
GO
ALTER TABLE [dbo].[Fact Sales] CHECK CONSTRAINT [FK_Fact Sales_ProductDim]
GO
ALTER TABLE [dbo].[Fact Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact Sales_SalesmanDim] FOREIGN KEY([SalesmanID])
REFERENCES [dbo].[SalesmanDim] ([SalesmanID])
GO
ALTER TABLE [dbo].[Fact Sales] CHECK CONSTRAINT [FK_Fact Sales_SalesmanDim]
GO
ALTER TABLE [dbo].[Fact Sales]  WITH CHECK ADD  CONSTRAINT [FK_Fact Sales_TimeDim] FOREIGN KEY([TimeID])
REFERENCES [dbo].[TimeDim] ([TimeID])
GO
ALTER TABLE [dbo].[Fact Sales] CHECK CONSTRAINT [FK_Fact Sales_TimeDim]
GO
USE [master]
GO
